{{ $related := (where .Site.RegularPages "Section" "posts").Related . | first 2 }}
{{ with $related }}

<h4>See also</h4>

<div class="related-container">
	{{ range . }}
	<div class="related-article">
		<a href="{{ .RelPermalink }}" class="text-decoration-none text-reset">
			{{ .Title }}
		</a>
		<p>
			{{ .Summary | truncate 200 }}
		</p>
	</div>
	{{ end }}
</div>
{{ end }}
