<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " en" }}">
    {{ partial "head.html" . }}

    <body>
        {{ partial "header.html" . }}
        {{ block "main" . }}{{ end }}
        {{ partial "footer.html" . }}
    </body>
</html>
