{{ define "main" }}

<main>
    <h1>{{ strings.FirstUpper .Data.Singular }} {{ .Title }}</h1>
	<div class="catalogue">
		{{ range (.Paginate .Pages).Pages }}
			{{ .Render "summary" }}
		{{ end }}
	</div>
	
	{{ partial "pagination.html" .}}
</main>

{{ end }}
