{{ define "main" }}
<main>
    <h1>{{ .Title }}</h1>
	<div class="catalogue">
        <ul>
        {{$index := .Data.Index}}

        {{- range .Pages.ByTitle -}}
            <li><a href="{{ .Permalink }}">{{ .Title }} ({{ len (index $index (urlize .Title)) }})</a></li>
        {{- end -}}
        </ul>
	</div>
</main>

{{ end }}
