{{ define "main" }}

<main class="books">
	<h2>Shelf: {{.Title}}</h2>
	{{ partial "pagination.html" . }}
	<ul class="book-list">
		{{ range (.Paginator).Pages }}
		{{ .Render "book-card" }}
		{{ end }}
	</ul>
	{{ partial "pagination.html" . }}
</main>

{{ end }}
