<div id="mc_embed_signup">
	<form action="https://viktomas.us6.list-manage.com/subscribe/post?u=6c05708f59855c72a7f7734ed&amp;id=abaf6ecf1f"
		method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
		novalidate>
		<div id="mc_embed_signup_scroll">
			<div class="mc-field-group">
				<!-- <label for="mce-EMAIL">Email Address </label> -->
				<input type="email" placeholder="Your email address" value="" name="EMAIL" class="required email"
					id="mce-EMAIL">
			</div>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>
			<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
					name="b_6c05708f59855c72a7f7734ed_abaf6ecf1f" tabindex="-1" value=""></div>
			<div class="form-buttons">
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
				<div class="social">
					<a aria-label="Twitter" class="btn btn-lg btn-dark" href="https://twitter.com/viktomas_com">
						<i class="fab fa-twitter"></i>
					</a>
					<a aria-label="RSS feed" class="btn btn-lg btn-dark" href="/index.xml">
						<i class="fas fa-rss"></i>
					</a>
				</div>
			</div>
		</div>
	</form>
</div>
