{{ $paginator := .Paginator}}
<nav class="pagination" aria-label="Page navigation">
	<ul class="pagination-container">
		{{ if .Paginator.HasPrev }}
		<li class="page-item">
			<a class="page-link" href="{{ .Paginator.Prev.URL }}" aria-label="Previous">
				<span aria-hidden="true">&#8592;</span>
			</a>
		</li>
		{{ end }}
		{{ range .Paginator.Pagers }}
		<li class="page-item{{ if eq . $paginator }} active{{ end }}"><a class="page-link" href="{{ .URL }}">{{
				.PageNumber }}</a></li>
		{{ end }}
		{{ if .Paginator.HasNext }}
		<li class="page-item">
			<a class="page-link" href="{{ .Paginator.Next.URL }}" aria-label="Next">
				<span aria-hidden="true">&#8594;</span>
			</a>
		</li>
		{{ end }}
	</ul>
</nav>
