<!-- <div class="row mb-1">
    <div class="col-md-3">
        <time datetime="{{ .PublishDate }}" class="catalogue-time">{{ .PublishDate.Format "2 January 2006" }}</time>
    </div>
    <div class="col-md-9">
        <a href="{{ .Permalink }}" class="text-reset">
            <h5 class="mb-1">{{ .Title }}</h5>
        </a>
    </div>
</div> -->
<li>
    <a href="{{ .Permalink }}">
        <span class="mb-1">{{ .Title }}</span>
    </a>
    <small class="text-muted date">(<time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "02 Jan 2006" }}</time>)</small>
</li>
