<aside>
    <div class="bio">
        {{ readFile "/layouts/partials/homepage/bio.md" | markdownify }}
    </div>
    {{ partial "homepage/new-articles.html" .}}
    {{ readFile "/layouts/partials/homepage/open-source.md" | markdownify }}
</aside>
