<div class="new-articles">
    <h4>New article updates</h4>

    {{ partial "email-newsletter.html" .}}
	<p>You'll be the first one to know when there's a new post.</p>
    <!-- <a aria-label="Twitter" class="btn btn-lg btn-dark" href="https://twitter.com/viktomas_com">
        <i class="fab fa-twitter"></i>
    </a>
    <a aria-label="RSS feed" class="btn btn-lg btn-dark" href="/index.xml">
        <i class="fas fa-rss"></i>
    </a> -->
</div>
