{{ define "main" }}

<main class="books">
	<div class="books-intro">
		{{ .Content}}
	</div>
	{{ partial "pagination.html" . }}
	<ul class="book-list">
		{{ range (.Paginator).Pages }}
		{{ .Render "book-card" }}
		{{ end }}
	</ul>
	{{ partial "pagination.html" . }}
</main>

{{ end }}
