{{ define "main" }}

<main class="book-detail">
	<div class="image-container">
		<img class="img-fluid" src="/books/{{ .File.BaseFileName }}.jpg" alt="Book cover" />
	</div>
	<article class="col-md-9 blq-quote">

		<h1 class="post-title">{{ .Title }}</h1>
		<div class="post-line"></div>


		<ul class="list-unstyled">
			<li><i class="fas fa-play"></i> Started: <time datetime="{{ .Param " started" }}">
					{{ dateFormat "2 January 2006" (.Param "started")}}</time>
			</li>
			<li><i class="fas fa-stop"></i> Finished: <time datetime="{{ .PublishDate }}">
					{{ .PublishDate.Format "2 January 2006" }}</time>
			</li>
			{{ if.Param "goodreads" }}
			<li><i class="fab fa-goodreads"></i> <a href="{{.Param "goodreads"}}">Goodreads profile</a></li>
			{{ end }}
			{{ if.Param "openlibrary" }}
			<li><i class="fas fa-book-open"></i> <a href="{{.Param "openlibrary"}}">Open Library</a></li>
			{{ end }}
			<li>
				<i class="fas fa-database"></i>
				Shelves:
				{{range .Params.shelves}}
				<a href="/shelves/{{ urlize . }}">{{ . }}</a>
				{{end}}

			</li>
		</ul>

		{{ .Content }}
	</article>

</main>

{{ end }}
